
/*
/.**

!/LICENSE
!/README.md

!.gitignore
!.gitkeep

!/.github
!/.github/*
!/.github/workflows
!/.github/workflows/*

!/.devcontainer
!/.devcontainer/*

!/bootstrap.sh
!/install.sh
!/install.ps1

!/Dockerfile
!/docker-compose.yml

!/.config

!/.config/ash
!/.config/ash/*

!/.config/bash
!/.config/bash/*

!/.config/gh
/.config/gh/.gitkeep

!/.config/nvim
!/.config/nvim/*

!/.config/nyagos
!/.config/nyagos/*

!/.config/sh
!/.config/sh/*

!/.config/vim
!/.config/vim/*
!/.config/vim/snippets
!/.config/vim/snippets/*
!/.config/vim/template
!/.config/vim/template/*
!/.config/vim/template/_/*
!/.config/vim/template/gnuplot
!/.config/vim/template/gnuplot/*


!/.config/wt
!/.config/wt/*

*.swp
*.exe
*.netrwhist

