[submodule ".vim/pack/opt/"]
	path = .vim/pack/opt/
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugins/opt/lightline.vim"]
	path = .vim/pack/plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugins/opt/auto-pairs"]
	path = .vim/pack/plugins/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
