
/*
/.**

!.gitignore
!.gitkeep

!/.bin
!/.bin/install.sh

!/.bashrc
!/.bash/
!/.bash/rc/
!/.bash/rc/alias.bash

!/.vimrc
!/.vim/
!/.vim/*
!/.vim/**
/.vim/.netrwhist
!/.vim/sessions/
/.vim/sessions/**
!/.vim/sessions/.gitkeep
!/.vim/pack/.gitkeep
/.vim/pack/ivim/**
!/.vim/pack/ivim/.gitkeep
/.vim/pack/jetpack/**
!/.vim/pack/jetpack/.gitkeep